/* css to make the bar displaying friends for matches*/
.Friendbar {
    display: flex;
    flex-direction: column ;
    height: 91vh;
    background-color: rgb(190, 152, 243);
}
.Friendbar {
    flex: 0.15;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 80%;
    position: fixed;
    right: 0;
    top: 40px;
}

.friendBarTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(101, 58, 161);
    color: white;
    border-bottom:3px solid white;
}

.friendBarTitle{
    border-top-right-radius: 0px ;
    border-top-left-radius: 15px;
}

.friendBarTitle > h3, {
    font-size: x-large;
}
.friendSidebarBody {
    flex: 1;
}
.animeListBar{
    display: flex;
    flex-direction: row;
    flex: 1;
}


.userProfileName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(190, 152, 243);
    padding: 10px;
    border-bottom: 3px solid white;
}

.friendBottom{
    background-color: rgb(101, 58, 161);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
    justify-content: space-evenly;
    

}
.friendBottom > Button{
    color: white;
    background-color: rgb(190, 152, 243);
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
    justify-content: space-evenly;
    
}
.friendBottom > Button:hover{
    background-color: #eba1f4;
    color: white;
}

.friendTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    background-color:rgb(168, 113, 246);
    ;
    color: white;
}
.friendList {
    flex-direction: column;
    overflow-y: auto;
}
.friendsTitleBar{
    display: flex;
}

/* below is the css for friendList.js */
.friendList:hover > h4{
    color: white;
    background-color: #eba1f4;
}
.friendList:hover > div{
    color: white;
    background-color: #eba1f4;
}

.friendIcon {
    font-size: 10px;
    padding: 10px;
}

.noView {
    display: none;
}

.view {
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    background-color: rgb(190, 152, 243);
    cursor: pointer;
}
