.movieheader {
  display: flex; /*aligns header children into a straight line*/
  justify-content: space-between; /* spaces header items out evenly */
  align-items: center;
  border-bottom: 1px solid #f9f9f9; /*thin grey line*/
  background-color: grey;
}

.movieheader__logo {
  height: 80px;
  object-fit: contain; /*locks in resolution*/
}

.movieheader__icon {
  padding: 20px; /*makes icons not touching border*/
}
