.card {
    position: relative;
    width: 400px;
    padding: 20px;
    /* max-width: 85vw; */
    height: 55vh;     
    border-radius: 5px;        /*curvy corner*/
    background-color: white;
    background-size: cover;
    background-position: center; 
    box-shadow: 5px 5px 5px rgba(220, 159, 159, 0.809); 
    border-style:solid;
    border-color: pink;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
}
.movieInfo > h3 { /* title on the card*/
    position: absolute;
    text-align: left;
    bottom: 35px;
    margin: 0;
    color: black;
    font-size: xx-large;
    
}
.movieInfo > span {
    position: absolute;
    bottom: 10px;
    font-size: large;
    color: white;
}
.movieInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.card img {
    max-width: 100%;
}
.movieCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top:2vh;
    flex-wrap: wrap;
}
.swipe {
    position: absolute;     /*stacks the cards on top of each other*/
}

.pageTitle{
    position: relative;
    top: 0px;
    color: plum;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.overview { 
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    text-align: left;
    max-height: 100%;
    text-align: left;
}

.overview > p { 
    text-align: left;
}

.card:hover .overview {
    transform: translateY(0%);
}

.tvMovie {
    position: relative, 
    
}