.Movies {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.Movies-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Movies-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Movies-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movies-link {
  color: #61dafb;
}
.activeSidebar {
  background-color: black;
  width: 250px;
  justify-content: center;
  position: fixed;
  right: 0;
  transition: 850ms;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: "Open Sans", sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
