.messageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-bottom: 1px solid #3A3B3C;
}
.forumHeader{
    padding: 10px;
    font-size: 30px;
    color: #3A3B3C;
}
.messageHeader1 > h3{
    display: flex;
    align-items: center;
    color: #3A3B3C;
}
.messageHeader2{
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
}
.messageHeader2 > .MuiSvgIcon-root:hover{
    color: blue;
}
.messageHeader2 > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 5px;
}
.messageSearch {
    display: flex;
    align-items: center;
    color: white;
    padding: 3px;
    border-radius: 3px;
    background-color: #3A3B3C;
}
.messageSearch > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}