.message{
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
}
.messageInfo{
    margin-left: 20px;
}
.messageTimestamp{
    color: gray;
    margin-left: 5px;
    font-size: x-small;
}