.topicList:hover > h4{
    color: white;
    background-color: #40464b;
}

.topicList > h4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #3A3B3C;
    color: white;
    cursor: pointer;
}
.forumIcon {
    font-size: 10px;
    padding: 10px;
}
