/* THIS FILE CONTAINS MY CODE */
.App {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.loginContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.loginContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.loginContainer input {
  width: 200px;
  height: 50px;
  margin: 7px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
}
.loginContainer button {
  width: 210px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.loginContainer button:hover {
  background: #770952;
}

.convosContainer {
  display: flex;
  text-align: center;
}
.convosContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.convosContainer input {
  width: 200px;
  height: 50px;
  margin: 7px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
}
.convosContainer button {
  width: 210px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.convosContainer button:hover {
  background: #770952;
}

.convo-popup {
  width: 400px;
  height: 400px;
}
.convo-popup p {
  margin: 0;
}
.convo-popup .convo-header {
  height: 45px;
  background: #000000;
  position: relative;
  display: flex;
}
.convo-popup .convo-header p {
  display: block;
  padding: 0 1em 0 1em;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
}
.convo-popup .convo-size p {
  display: flex;
  background: #000000;
  color: #cfcfcf;
  font-weight: 500;
  font-size: 12px;
  justify-content: flex-end;
}

.convo-popup .convo-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #000000;
  background: #ffffff;
  position: relative;
}
.convo-popup .convo-body .message-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.convo-popup .convo-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.convo-popup .convo-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 150px;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#loggedIn {
  justify-content: flex-end;
}
#loggedIn .message-content {
  justify-content: center;
  background-color: #770952;
}
#loggedIn .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#other {
  justify-content: flex-start;
}
#other .message-content {
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

.message-meta #sender {
  margin-left: 10px;
  font-weight: bold;
}

.convo-popup .convo-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.convo-popup .convo-footer {
  height: 40px;
  border: 1px solid #000000;
  border-top: none;
  display: flex;
}
.convo-popup .convo-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 1em;
  font-size: 1em;
  border-right: 1px #000000;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.convo-popup .convo-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
  color: lightgray;
}
.convo-popup .convo-footer button:hover {
  color: #770952;
}
.hide {
  opacity: 0 !important;
}
