/* App.css */
.App {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.emojiIcon {  
  height: 40px;  
  width: 40px;  
}
.heartIcon p {
  display:flex;
  position: relative;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}
.heartIcon p:hover {
  color: #770952;
}
.error p {
  left: 0;
  right: 0;
  font-size: 0.7rem;
  font-weight: bold;
  color: red;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-gap: 2px;
}

.button {  
  background: transparent;  
  outline: none;  
  border: none;  
}  

.loginContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.loginContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: absolute;
}
.loginContainer input {
  width: 200px;
  height: 50px;
  margin: 7px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  position: relative;
}
.loginContainer button {
  width: 210px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.loginContainer button:hover {
  background: #770952;
}

.convosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.convosContainer h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.convosContainer input {
  width: 200px;
  height: 20px;
  margin: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  margin-top: 2rem;
}
.convosContainer button {
  width: 210px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.convosContainer button:hover {
  background: #770952;
}
.convosContainer .back-login {
  width: 210px;
  height: 30px;
  border: none;
  margin-right: 5px;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.convosContainer .back-login button:hover {
  background: #770952;
}

.convo-popup {
  width: 400px;
  height: 400px;
}
.convo-popup p {
  margin: 0;
}
.convo-popup .convo-header .back-convos button {
  width: 10px;
  height: 30px;
  margin: 7px;
  border: none;
  position: relative;
  font-size: 16px;
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.convo-popup .convo-header {
  height: 45px;
  background: #000000;
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.convo-popup .convo-header p {
  display: block;
  padding: 0 1em 0 1em;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
}
.convo-popup .convo-header .convo-size p {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #000000;
  color: #cfcfcf;
  font-weight: 500;
  font-size: 12px;
  justify-content: flex-end;
  border-top-right-radius: 10px;
}
.convo-popup .convo-header2 p {
  display: block;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 0 1em 0 1em;
  background: gray;
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
}
.convo-popup .convo-body {
  height: calc(450px - (45px + 70px));
  border-left:  1px solid #000000;
  border-right:  1px solid #000000;
  border-bottom:  1px solid #000000;
  background: #ffffff;
  position: relative;
}
.convo-popup .convo-body .message-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.convo-popup .convo-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.convo-popup .convo-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 150px;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#loggedIn {
  justify-content: flex-end;
}
#loggedIn .message-content {
  justify-content: center;
  background-color: #770952;
  cursor: pointer;
}
#loggedIn .message-content:hover {
  background: #5a0946;
}
#loggedIn .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}
#loggedIn .message-reply {
  justify-content: flex-end;
  margin-right: 5px;
  color: gray;
  font-size: 12px;
}

#other {
  justify-content: flex-start;
}
#other .message-content {
  justify-content: center;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}
#other .message-content:hover {
  background: #5a0946;
}
#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

.message-meta #sender {
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}
.message-meta #message-likes {
  margin-left: 10px;
}

.convo-popup .convo-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.convo-popup .convo-footer {
  height: 40px;
  border: 1px solid #000000;
  border-top: none;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.convo-popup .convo-footer input {
  height: 100%;
  width: 1000px;
  flex: 85%;
  border: 0;
  padding: 0 1em;
  font-size: 1em;
  border-right: 1px #000000;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-bottom-left-radius: 10px;
}
.convo-popup .convo-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
  color: gray;
}
.convo-popup .convo-footer button:hover {
  color: #770952;
}
.hide {
  opacity: 0 !important;
}
