.grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

.stories {
    column-span: 2;
    background-color: blue;
}

.suggestions {
    background-color: skyblue;
}
/*
.postPicture {
    width: 20%;
    height: 20%;
    margin: auto;
    display: flex;
}

.descips {
    text-align: center;
    margin: auto;
    border-style: solid;
    border-color: blueviolet;
    
}
.userFeedTitle {
    margin: auto;
    text-align: center;
}

.post {
    margin: auto;
    width: 20%;
    align-items: center;
}

.profile {
    width: 30%;
    display: flex;
    margin: auto;
}

.profilePic {
    width: 20%;
    height: 30%;
    margin: auto;
}

.userPostHeader {
    font-size: 10px;
    text-align: left;
}
*/