/* below is the css for TopicSidebar.js and AnimeSidebar.js */
.Sidebar, .animeHeader {
    display: flex;
    flex-direction: column ;
    height: 91vh;
    background-color: #3A3B3C;
}
.Sidebar {
    flex: 0.15;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.animeHeader{
    flex: 1;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
}
.sidebarTitleBar, .animeTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: white;
    border-bottom:3px solid white;
}
.sidebarTitleBar{
    border-top-right-radius: 15px ;
}
.animeTitle {
    border-top-left-radius: 15px;
}
.sidebarTitleBar > h3, .animeTitle > h3{
    font-size: x-large;
}
.sidebarTopicsBar {
    flex: 1;
}
.animeListBar{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.animeList{
    display: flex;
    flex: 0.35;
    padding: 20px;
    background-color:#2D2D2E;
    border-right: 3px solid black;
    overflow: auto;
}
.animeList > h4 {
   color: whitesmoke;
   background-color: #40464b;
   padding: 10px;
   border-radius: 10px;
}
.animePost{
    display: flex;
    flex: 0.50;
    overflow: auto;
}
.animeListBody{
    display: flex;
    margin: 20px;
    overflow-y: auto;
}
.searchedResult{
   display: flex;
   flex: 0.50;
   flex-direction: column;
   align-items: center;
   background-color: transparent;
   color: white;
   border: none;
}
.searchedResult > h4{
    padding: 10px;
    font-size: medium;
    text-align: center;
}
.searchedResult:hover{
    background-color: #40464b;
}
.userProfileBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40464b;
    padding: 10px;
    border-bottom: 3px solid white;
}
.userInfo{
    flex: 1;
    padding: 10px;
    color: white;
}
.editUser {
    color: white;
    padding: 10px;
    font-size: x-large;
}
.sidebarBottomBar{
    background-color: black;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom-right-radius: 15px;
}
.sidebarBottomBar > Button{
    color: white;
    background-color: #3A3B3C;
}
.sidebarBottomBar > Button:hover{
    background-color: black;
    color: white;
}
.addTopics {
    cursor: pointer;
}
.addTopics:hover {
    color: gray;
}
.topicsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    background-color: #2D2D2E;
    color: white;
}
.topicList, .animeList{
    flex-direction: column;
}
.topicsTitleBar{
    display: flex;
}

/* below is the css for TopicList.js */
.topicList:hover > h4{
    color: white;
    background-color: #40464b;
}
.topicList > h4, .animePhotoBar > h4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: #3A3B3C;
    color: white;
    cursor: pointer;
}
.forumIcon {
    font-size: 10px;
    padding: 10px;
}

/* below is the css for AnimePost.js */
.animeReviewHeader{
    display: flex;
    flex: 0.25;
    color: white;
    flex-direction: column;
}
.animePhoto {
    display: flex;
    margin: 15px;
    margin-top: 30px;
    border: 2px solid white;
}
.animeReviewPost{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.animeReviewPost > h3{
    padding: 10px;
    font-size: medium;
    text-align: center;
}
.addRating{
    display: flex;
    font-size: small;
    align-items: center;
    padding: 0;
    background-color: transparent;
    color: white;
    border: none;
}
.rated, .reviewed, .noRating, .noReview, .noReviewRating{
    display: none;
}
.addRating >  .MuiSvgIcon-root:hover{
    color:black;
}
.rateANDreview {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px
}
.rateScore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.reviewMessage{
    font-size: small;
    color: whitesmoke ;
}
/* 170 lines 
    not including closing brackets, new lines, and comments*/