.info-activity {
  color: rgb(90, 76, 95);
}

.info-activity h3 {
  color: rgb(0, 0, 0);
  display: block;
  margin-bottom: 5px;
}

.info-activity h4 {
  text-align: center;
  display: block;
  margin-bottom: 3px;
}

.info-activity p {
  display: block;
}

.movie-title {
  padding-left: 15px;
}
