/* Below is the css for Discussion.js */
.messageHeaderBar{
    display: flex;
    flex-direction: column;
    flex: 0.75px;
    background-color: white;
    height: 95vh;
}
.messageConvo{
    flex: 0.50px;
}
.messageInput {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: #3A3B3C;
    margin: 10px;
    border-top: 1px solid black;
}
.messageInput > form > input{
    background-color: white;
    font-size: large;
    width: 700px;
    outline-width: 0;
    border: none;
    border-radius: 20px;
    padding: 5px
}
.inputIcons > .MuiSvgIcon-root{
    padding-left: 10px;
    padding-right: 10px;
}
.messageInput > .MuiSvgIcon-root:hover,
.inputIcons > .MuiSvgIcon-root:hover{
    color: gray;
}
.sendButton{
    display: none;
}
.menuHeader{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.menuHeader > .MuiSvgIcon-root{
    padding: 25px;
    padding-bottom: 0;
    color: #3A3B3C;
}
.sidebarActive {
    background-color: black;
    width: 250px;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 850ms;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sidebarActive.open {
    left: 0;
    transition: 350ms;
}

/* Below is the css for the DiscussionaHeader.js */
.messageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    width: auto;
}
.messageHeader1 > h3{
    display: flex;
    align-items: center;
    color: #3A3B3C;
}
.forumHeader{
    padding: 10px;
    font-size: 30px;
    color: #3A3B3C;
}
.messageHeader2{
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
}
.messageHeader2 > .MuiSvgIcon-root:hover{
    color: blue;
}
.messageHeader2 > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 5px;
}
.messageSearch, .animeSearch{
    display: flex;
    align-items: center;
    color: white;
    padding: 3px;
    border-radius: 3px;
    background-color: #3A3B3C;
    justify-content: space-between;
}
.animeSearch{
    width: 500px;
}
.messageSearch > input, .animeSearch > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}

/* Below is the css for Message.js */
.message{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    padding-right: 100px;
    color: black;
}
.messageInfo > h4, .messageInfo > p{
    display: flex;
    justify-content: flex-end;
}
.messageInfo{
    margin-right: 20px;
}
.messageTimestamp{
    color: gray;
    margin-left: 5px;
    font-size: x-small;
}

/* 106 lines 
    not including closing bracket, new lines, and comments */