/* Below is the css for Discussion.js */
.messageHeaderBar{
    display: flex;
    flex-direction: column;
    flex: 0.75px;
    height: 95vh;
}
.messageConvo{
    flex: 0.50px;
    overflow-y: auto;
    overflow-wrap: break-word;
}
.messageInput {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: #3A3B3C;
    margin: 10px;
    border-top: 1px solid black;
}
.messageInput > form > input{
    background-color: white;
    font-size: large;
    width: 700px;
    outline-width: 0;
    border: none;
    border-radius: 20px;
    padding: 5px
}
.inputIcons > .MuiSvgIcon-root{
    padding-left: 10px;
    padding-right: 10px;
}
.messageInput > .MuiSvgIcon-root:hover,
.inputIcons > .MuiSvgIcon-root:hover{
    color: gray;
}
.sendButton{
    display: none;
}
.menuHeader{
    display: flex;
    border-bottom: 1px solid black;
}
.menuHeader > .MuiSvgIcon-root{
    padding: 25px;
    padding-bottom: 0;
    color: #3A3B3C;
}
.sidebarActive {
    background-color: black;
    width: 250px;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 850ms;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sidebarActive.open {
    left: 0;
    transition: 350ms;
}
.animeSearch{
    width: 500px;
}
/* Below is the css for the DiscussionaHeader.js */
.messageHeader{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: gray;
    padding: 10px;
}
.messageHeader1{
    display: flex;
    flex: 0.5px;
}
.messageHeader1 > h3{
    display: flex;
    align-items: center;
    color: #3A3B3C;
}
.forumHeader{
    padding: 10px;
    font-size: 30px;
    color: #3A3B3C;
}
.messageHeader2{
    display: flex;
    justify-content: space-between;
}
.messageHeader2 > .MuiSvgIcon-root:hover{
    color: blue;
}
.messageHeader2 > .MuiSvgIcon-root {
    cursor: pointer;
    padding: 5px;
}
.messageSearch, .animeSearch{
    display: flex;
    align-items: center;
    color: white;
    padding: 3px;
    border-radius: 3px;
    background-color: #3A3B3C;
    justify-content: space-between;
}
.messageSearch > input, .animeSearch > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
}

/* Below is the css for Message.js */
.avatar{
    position: fixed;
    z-index: -1;
}
.curUser, .oldUser{
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
}
.curUser{
    justify-content: flex-end;
    padding-right: 100px;
}
.oldUser{
    justify-content: flex-start;
    padding-left: 100px;
}
.notCurrent{
    display: none;
}
.currentUserMessage, .oldUserMessage{
    display: flex;
}
.oldUserMessage{
    justify-content: flex-start;
}
.curMessage > h4, .curMessage > p{
    display: flex;
    justify-content: flex-end;
}
.oldMessage > h4, .oldMessage > p{
    display: flex;
    justify-content: flex-start;
}
.oldMessage{
    margin-left: 20px;
}
.curMessage{
    margin-right: 20px;
}
.messageTimestampLeft, .messageTimestampRight{
    display: flex;
    color: gray;
    padding-bottom: 5px;
    font-size: x-small;
}
.messageTimestampLeft{
    margin-left: 5px;
    justify-content: flex-start;
}
.messageTimestampRight{
    margin-right: 5px;
    justify-content: flex-end;
}
.avatarMain{
    display: flex;
    flex-direction: column;
}
.avatarButtons{
    display: flex;
    justify-content: space-between;
}
.avatarButtons > .MuiSvgIcon-root:hover{
    color: lightgrey;
}
/* 136 lines 
    not including closing bracket, new lines, and comments */